* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: cornsilk;
}

body {
  font-family: monospace;
  font-size: 16px;
  /* background-image: ; */
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 0.2rem;
}

@media (min-width: 600px) {
  #thumbnailContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 900px) {
  #thumbnailContainer {
    width: 23%;
  }
}
#thumbnailContainer {
  /* display: grid;
  grid-column: span */
  display: flex;
  z-index: 10;
  width: 45vh;
  height: 7vh;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.459);
  bottom: 3vh;
  left: 50%;
  padding-left: 5px;
  padding-right: 5px;
  backdrop-filter: blur(5px);
  transform: translateX(-50%);
}
#thumbnailContainer img {
  width: 100px;
  cursor: pointer;
  max-height: 70px;
}

#displayImageContainer {
  position: absolute;
  z-index: 1;
}

#displayImage img {
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  display: block;
  margin: 0;
  /* margin ; */
  position: relative;
  text-align: center;
  max-width: 100%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  color: rgb(15, 15, 15);
  padding: 10px;
}

.back {
  left: 10px;
  /* background-color: ; */
}

.next {
  right: 10px;
  /* background-color: ; */
}
